@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: #0F0F0F;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  border-radius: 7px;
}

body {
  cursor: default;
  position: relative;
  overflow-x: hidden;
  background-color: #141414;
  color: #999999;
}

._wrapper {
  margin: 0 auto;
  padding: 0 10%;
}

._title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
}

._text {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0;
}

i {
  color: #FFFFFF;
  font-size: 32px;
}

._button {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
  background-color: #E50000;
  border-radius: 7px;
  outline: 1.5px solid rgba(229, 0, 0, 0);
  transition-duration: 0.2s;
}

._button:hover {
  outline: 1.5px solid rgb(229, 0, 0);
}

._button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -35%;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0px 15px;
  transform: rotate(-45deg);
  visibility: hidden;
}

._button:hover::after {
  left: 100%;
  visibility: visible;
  transition-duration: 0.75s;
}

.sliderBox {
  position: absolute;
  z-index: 10;
  min-width: 0;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-swiper-container {
  margin: 0 5px;
}

.main-swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.main-slide {
  width: 200px;
  height: 200px;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgb(20, 20, 20) 0%, rgba(20, 20, 20, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10%;
  margin-top: 0;
  padding-top: 30px;
}
.header__label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header__label-logo {
  color: #E50000;
  font-size: 54px;
}
.header__nav {
  display: flex;
  padding: 10px 5px;
  background-color: #0F0F0F;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
}
.header__nav-item {
  cursor: pointer;
  position: relative;
  width: fit-content;
  color: #999999;
  margin: 0px 15px;
  transition-duration: 0.3s;
}
.header__nav-item:hover {
  color: #FFFFFF;
}
.header__nav-item::before, .header__nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  transition-duration: 0.3s;
}
.header__nav-item:hover::before, .header__nav-item:hover::after {
  width: 50%;
}
.header__nav-item:hover::before {
  right: 0;
}
.header__nav-item:hover::after {
  left: 0;
}
.header__iconbox {
  position: relative;
  display: flex;
  align-items: center;
}
.header__iconbox-item {
  cursor: pointer;
  margin: 0 10px;
  color: #999999;
  transition-duration: 0.2s;
  transition-property: color;
}
.header__iconbox-item:hover {
  color: #FFFFFF;
}
.header__iconbox i {
  position: relative;
  z-index: 300;
}
.header__burger {
  display: none;
  width: 25px;
  height: 25px;
}
.header__burger-icon-wrapper {
  position: relative;
  z-index: 200;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__burger-icon {
  width: 100%;
  height: 3px;
  background-color: #999999;
  border-radius: 7px;
}
.header__burger-icon-wrapper::before, .header__burger-icon-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #999999;
  border-radius: 7px;
  transition-duration: 0.3s;
}
.header__burger-icon-wrapper::before {
  top: 0;
}
.header__burger-icon-wrapper::after {
  bottom: 0;
}
.header__burger-icon._active {
  width: 0;
}
.header__burger-icon-wrapper._active::before {
  top: 45%;
  transform: rotate(45deg);
}
.header__burger-icon-wrapper._active::after {
  bottom: 45%;
  transform: rotate(-45deg);
}
.header__burger-wrapper {
  cursor: default;
  position: absolute;
  right: -5%;
  top: -100%;
  z-index: 110;
  width: fit-content;
  background-color: #0F0F0F;
  padding: 30px 20px;
  padding-top: 100px;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
  overflow: hidden;
  display: none;
}
.header__burger-wrapper._active {
  display: block;
}
.header__burger-menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px 0;
}
.header__burger-menu-item {
  margin: 0;
  display: flex;
  align-items: end;
  gap: 0 10px;
}
.header__burger-menu-text {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}
.header__burger-menu-icon {
  color: #999999;
  font-size: 28px;
}

.footer {
  padding: 0 10%;
  background-color: #0F0F0F;
}
.footer__navbox {
  padding: 100px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.footer__navbox-item-title {
  font-size: 18px;
}
.footer__navbox-item-link {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: #999999;
  width: fit-content;
  transition-duration: 0.3s;
}
.footer__navbox-item-link:hover {
  color: #FFFFFF;
}
.footer__navbox-item-link::before, .footer__navbox-item-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  transition-duration: 0.3s;
}
.footer__navbox-item-link:hover::before, .footer__navbox-item-link:hover::after {
  width: 50%;
}
.footer__navbox-item-link:hover::before {
  left: 0;
}
.footer__navbox-item-link:hover::after {
  right: 0;
}
.footer__navbox-item-iconbox {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin: 20px 0;
}
.footer__navbox-item-icon {
  cursor: pointer;
  font-size: 24px;
  background-color: #1a1a1a;
  padding: 10px;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
  transition-duration: 0.3s;
}
.footer__navbox-item-icon:hover {
  color: #E50000;
  background-color: #0F0F0F;
}
.footer__labelbox {
  position: relative;
  padding: 20px 0;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.footer__labelbox-link {
  color: #999999;
  padding: 0 10px;
  transition-duration: 0.3s;
}
.footer__labelbox-link:hover {
  color: #FFFFFF;
}
.footer__labelbox::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #0F0F0F 0%, rgba(153, 153, 153, 0.2) 50%, #0F0F0F 100%);
}

.main {
  position: relative;
  z-index: 90;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: radial-gradient(rgba(0, 0, 0, 0.4), #141414);
}
.main__logo {
  font-size: 350px;
  color: rgba(255, 255, 255, 0.4);
}
.main__title {
  font-size: 56px;
  font-weight: 700;
  margin: 60px 0;
}
.main__text {
  font-size: 18px;
  margin: 0 20%;
  color: #ffffff;
  text-align: center;
}
.main__button {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 7px;
  margin: 30px 0;
}

.catalog {
  width: 100%;
  padding: 50px 0;
}
.catalog__textbox {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__textbox-wrapper {
  width: 60%;
}
.catalog__textbox-sliderNavigation {
  width: fit-content;
  background-color: #0F0F0F;
  padding: 10px 10px;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.catalog__textbox-sliderPagination {
  position: relative !important;
  width: 50px !important;
  margin: 0 10px;
  background-color: #1a1a1a !important;
}
.catalog__textbox-sliderPagination span {
  background-color: #E50000 !important;
}
.catalog__textbox-sliderArrowPrev, .catalog__textbox-sliderArrowNext {
  cursor: pointer;
  display: block;
  font-size: 16px;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 7px;
  transition-duration: 0.15s;
}
.catalog__textbox-sliderArrowPrev:active, .catalog__textbox-sliderArrowNext:active {
  box-shadow: inset 0 0 5px #0F0F0F;
  color: #999999;
}
.catalog__swiper {
  overflow: hidden;
  max-width: fit-content;
  margin-bottom: 50px;
}
.catalog__swiper-slide {
  max-width: fit-content;
}
.catalog__swiper-wrapper {
  min-width: 0;
  display: flex;
  align-items: center;
}
.catalog__slide-container {
  cursor: pointer;
  min-width: 0;
  background-color: #1a1a1a;
  border: #1F1F1F 1.5px solid;
  border-radius: 15px;
  width: 240px;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catalog__slide-container_more {
  cursor: pointer;
  width: fit-content;
  background-color: #1a1a1a;
  border-radius: 7px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog__slide-container_more:active {
  box-shadow: inset 0 0 5px #0F0F0F;
}
.catalog__slide-container:active {
  box-shadow: inset 0 0 5px #0F0F0F;
  border: none;
}
.catalog__slide-imgbox {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.catalog__slide-imgbox::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(26, 26, 26, 0.9), rgba(0, 0, 0, 0));
}
.catalog__slide-img {
  width: 100px;
  height: 100px;
}
.catalog__slide-titlebox {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__slide-title, .catalog__slide-icon {
  font-size: 16px;
}
.catalog__slide-icon_more {
  margin-bottom: 7px;
  font-size: 25px;
}

.devices__titlebox {
  width: 90%;
  line-height: 30px;
}
.devices__wrapper {
  margin: 50px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.devices__contentbox {
  background: linear-gradient(to top right, #141414 70%, rgba(229, 0, 0, 0.2) 100%);
  border-radius: 7px;
  padding: 20px 30px;
}
.devices__contentbox-titleSec {
  display: flex;
  align-items: center;
}
.devices__contentbox-icon {
  color: #E50000;
  background-color: #141414;
  padding: 10px;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
}
.devices__contentbox-title {
  font-size: 24px;
  font-weight: 450;
  margin-left: 15px;
}
.devices__contentbox-text {
  font-size: 14px;
}

.faq__titlebox {
  width: 70%;
}
.faq__titlebox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__titlebox-button {
  padding: 10px 20px;
}
.faq__qastions-wrapper {
  margin: 20px 0 100px 0;
  display: flex;
  justify-content: space-between;
  gap: 0px 70px;
}
.faq__qastions-contentbox {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
  position: relative;
}
.faq__qastions-contentbox::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #141414 0%, #E50000 30%, #141414 90%);
}
.faq__qastions-contentbox:last-child::before {
  display: none;
}
.faq__qastions-number, .faq__qastions-answerbox-title {
  height: fit-content;
  font-size: 18px;
  font-weight: 400;
}
.faq__qastions-number {
  background-color: #1a1a1a;
  padding: 10px;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
}
.faq__qastions-answerbox {
  margin: 0 20px;
}
.faq__qastions-answerbox-text {
  margin: 10px 0 0 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
.faq__qastions-answerbox-text._active {
  max-height: fit-content;
  opacity: 1;
  visibility: visible;
}
.faq__qastions-answerbox-icon {
  color: #999999;
  transition-property: transform;
  transition-duration: 0.5s;
}
.faq__qastions-answerbox-icon._active {
  transform: rotate(45deg);
  display: block;
  opacity: 1;
  visibility: visible;
}

.plan__titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan__titlebox-wrapper {
  width: 67%;
}
.plan__titlebox-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
  background-color: #0F0F0F;
  padding: 10px 20px;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
}
.plan__titlebox-switch_mounth, .plan__titlebox-switch_year {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 7px;
  transition-duration: 0.3s;
}
.plan__titlebox-switch_mounth:active, .plan__titlebox-switch_year:active {
  background-color: #1a1a1a;
}
.plan__titlebox-switch_mounth._active, .plan__titlebox-switch_year._active {
  background-color: #1a1a1a;
}
.plan__cards-wrapper {
  margin: 50px 0 100px 0;
}
.plan__cards_mounth, .plan__cards_year {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.plan__cards-contentbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1a1a;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
  padding: 35px;
}
.plan__cards-contentbox-title {
  font-size: 24px;
  position: relative;
}
.plan__cards-contentbox-title_popular::after {
  content: "\e9a9";
  position: absolute;
  top: -3px;
  right: 0px;
  font-family: "icomoon" !important;
  color: #E50000;
  font-size: 20px;
}
.plan__cards-contentbox-text {
  margin: 15px 0 30px 0;
}
.plan__cards-contentbox-priceWrapper {
  display: flex;
  align-items: end;
}
.plan__cards-contentbox-price {
  font-weight: 500;
}
.plan__cards-contentbox-period {
  margin: 0;
}
.plan__cards-contentbox-price_old {
  color: #E50000;
  text-decoration: line-through;
  margin-right: 15px;
  font-size: 18px;
}
.plan__cards-contentbox-buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
}
.plan__cards-contentbox-button_free, .plan__cards-contentbox-button_choose {
  cursor: pointer;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 7px;
  height: fit-content;
}
.plan__cards-contentbox-button_free {
  font-weight: 200;
  background-color: #0F0F0F;
  border: #1F1F1F 1.5px solid;
  transition-duration: 0.2s;
}
.plan__cards-contentbox-button_free:hover {
  background-color: #141414;
}
.plan__cards-contentbox-button_choose {
  font-weight: 700;
}

.poster {
  margin: 0 0 100px 0;
}
.poster__wrapper {
  position: relative;
  overflow: hidden;
}
.poster__contentbox {
  position: relative;
  z-index: 20;
  overflow: hidden;
  padding: 100px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
  background: linear-gradient(to right, #0F0F0F 10%, rgba(15, 15, 15, 0.95) 40%, rgba(229, 0, 0, 0.35) 100%);
}
.poster__titlebox {
  width: 60%;
}
.poster__titlebox-text {
  margin-bottom: 0;
}
.poster__button {
  font-weight: 700;
  padding: 15px 30px;
  height: fit-content;
  width: fit-content;
}
.poster__bgSlider {
  position: absolute;
  top: 0;
  z-index: 10;
  border-radius: 7px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.poster__swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.poster__slide-container {
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.poster__slide {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 1200px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .devices__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .plan__cards {
    grid-template-columns: 1fr;
  }
  .poster__contentbox {
    flex-direction: column;
    align-items: start;
  }
  .poster__button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .faq__qastions-wrapper {
    flex-direction: column;
  }
  .faq__qastions-contentbox:last-child::before {
    display: block;
  }
  .footer__navbox {
    display: none;
  }
  .footer__labelbox {
    flex-direction: column;
    gap: 20px 0;
  }
  .footer__labelbox-linksbox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0;
  }
}
@media screen and (max-width: 900px) {
  ._title {
    font-size: 24px;
  }
  ._text {
    font-size: 12px;
    line-height: 15px;
  }
  ._disable {
    display: none;
  }
  .main__logo {
    font-size: 250px;
  }
  .main__title {
    font-size: 46px;
    margin: 5% 0;
  }
  .catalog__textbox-sliderNavigation {
    display: none;
  }
  .catalog__textbox-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  body {
    font-size: 12px;
  }
  ._title {
    font-size: 18px;
  }
  ._text {
    font-size: 16px;
    line-height: 18px;
  }
  .header__label-name {
    display: none;
  }
  .main__title {
    font-size: 32px;
  }
  .devices__wrapper {
    grid-template-columns: 1fr;
  }
  .devices__titlebox {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .faq__titlebox-wrapper {
    flex-direction: column;
    align-items: start;
  }
  .plan__titlebox {
    flex-direction: column;
    align-items: start;
  }
  .plan__titlebox-switch-wrapper div {
    font-size: 16px;
  }
  .faq__titlebox {
    width: 100%;
  }
  .plan__titlebox-wrapper {
    width: 100%;
  }
  .faq__qastions-number {
    display: none;
  }
}