@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: #0F0F0F;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
  border-radius: 7px;
}

body {
  cursor: default;
  position: relative;
  overflow-x: hidden;
  background-color: #141414;
  color: #999999;
}

._wrapper {
  margin: 0 auto;
  padding: 0 10%;
}

._title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
}

._text {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0;
}

i {
  color: #FFFFFF;
  font-size: 32px;
}

._button {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
  background-color: #E50000;
  border-radius: 7px;
  outline: 1.5px solid rgba(229, 0, 0, 0);
  transition-duration: 0.2s;
}

._button:hover {
  outline: 1.5px solid rgb(229, 0, 0);
}

._button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -35%;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0px 15px;
  transform: rotate(-45deg);
  visibility: hidden;
}

._button:hover::after {
  left: 100%;
  visibility: visible;
  transition-duration: 0.75s;
}

.main__wrapper {
  width: 100%;
  height: 700px;
  margin: 100px 0;
  overflow: hidden;
}
.main__slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.main__controls {
  position: relative;
  z-index: 50;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: radial-gradient(rgba(20, 20, 20, 0.2) 0%, rgb(20, 20, 20) 90%);
}
.main__controls-descriptionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__controls-title {
  width: fit-content;
}
.main__controls-description {
  width: fit-content;
  text-align: center;
}
.main__controls-buttonBox {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__controls-button_watch {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0 0px;
  padding: 10px 20px;
  width: fit-content;
}
.main__controls-button_save, .main__controls-button_volume {
  cursor: pointer;
  width: fit-content;
  font-size: 32px;
  padding: 10px;
  background-color: #0F0F0F;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
  transition-duration: 0.15s;
}
.main__controls-button_save:active, .main__controls-button_volume:active {
  box-shadow: inset 0 0 5px #1a1a1a;
  color: #FFFFFF;
}
.main__controls-pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 20px 0;
}
.main__controls-pagination-arrowLeft, .main__controls-pagination-arrowRight {
  cursor: pointer;
  font-size: 20px;
  width: fit-content;
  background-color: #0F0F0F;
  padding: 10px;
  border: #1F1F1F 1.5px solid;
  border-radius: 7px;
  transition-duration: 0.15s;
}
.main__controls-pagination-arrowLeft:active, .main__controls-pagination-arrowRight:active {
  box-shadow: inset 0 0 5px #1a1a1a;
  color: #FFFFFF;
}
.main__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
}